
<h1>SCU Engineering Lab Evaluations</h1>
<p>Please Select Your Role:</p>
<div class="outer">
<%= button_to "Students", new_student_path, :class => "btn", :method => "get" %>
<%= button_to "Professors", new_professor_path, :class => "btn", :method => "get" %>
</div>