<h1>Send Scheduled Email Reminders</h1>
<strong> Select date and time to send reminders to all students: </strong>
<%= datetime_select("delay", "send_on", prompt: true)%>
<%= button_to "Schedule", :controller => admin, :action => email, :course => 'COEN174L', :url => 'http://localhost:3000/profile', { class: 'btn', method: 'get'} %>