<h1>Admin Dashboard</h1>

<%= button_to "Upload Registration & Roster Data", admin_upload_path, { class: 'btn', method: 'get'} %>
<%= button_to "Edit Questionnaires", questionnaires_url, { class: 'btn', method: 'get'} %>
<%= button_to "Assign Questionnaires to Students", qs_url, { class: 'btn', method: 'get'} %>
<%= button_to "Send Reminder Emails", admin_email_path, { class: 'btn', method: 'get'} %>