<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>
      This is a reminder that you have not completed all your lab evaluations yet. 
    </p>
    <p>
      Click here to complete: <a href='https://labeval.herokuapp.com/login'>Lab Evaluation Login</a>
    </p>
  </body>
</html>